<launch>
    <!-- C++ nodes -->
    <node pkg="communication_package" type="person_talker_node" name="person_talker_cpp"
        output="screen" />
    <node pkg="communication_package" type="person_listener_node" name="person_listener_cpp"
        output="screen" />

    <!-- Python nodes -->
    <node pkg="communication_package" type="person_talker_py.py" name="person_talker_py"
        output="screen" />
    <node pkg="communication_package" type="person_listener_py.py" name="person_listener_py"
        output="screen" />
</launch>